div{    
    width: 470px;
    background-color: #f3d372;
    padding: 20px ;
}
h1{
    background-color: #06f9f9;
    color: blue;
    width: 100%;
    margin: auto;
    display: block;
}

input, select{
    margin-left: 50px;
}
input#dc{
    padding-bottom: 50px;
}
span{
    width: 20%;
    display: inline-block;
}
button#bt1{
    margin-left: 140px;
}
