
header{
    color: blue;
    font-weight:bold;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}
.line{
    display: inline-flex;
}
.line1{
    color: blue;
    padding-right: 400px;
    padding-left: 200px;
}
.line2{
    color: blue;
    padding-left: 200px;
}

table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
}
th#hv{
    background-color: white;
}
.date {
    background-color: yellow;
}
.subject{
    background-color: chocolate;
}
div.table{
    display: grid;
}